.App {
  text-align: center;
}

.title {
  font-size: 1.5vw;
}

.input {
  margin: 3vh 0;
  font-size: 1vw;
  width: 14%;
}

.user_answer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 15vw;
  width: 70vw;
}

.user_answer p {
  font-size: 1vw;
  font-weight: 600;
  padding: 0.5vw;
  margin: 0;
}